<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    {% include "include/page-header.html" %}
  </head>
  <body>
    <div class="container">
      <div class="row row-offcanvas row-offcanvas-right">
        {% block content %}
        {{ content }}
        {% endblock %}
      </div><!--/row-offcanvas-->

      <!-- Site footer -->
      <div class="footer">
        {% include "include/page-footer.html" %}
      </div>
    </div><!--/.container-->
  </body>
  {% include "include/page-script.html" %}
</html>
